@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

#logo {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

.signin{
	color:#459fed;
	border:1px solid #459fed;
	height:40px;
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	padding:9px 25px 3px;
	float:right;
	position:relative;
	border-radius:50px;
	top:-45px;
	right: 20px;
}

.signin:hover{color:#fff;background:#459fed}

#team5-menu, .team5-menu {
	height: 78px
	/* visibility: hidden */
}

#team5-menu, #team5-menu * {
	box-sizing: border-box
}


#team5-menu .pull-right {
	float: right
}

#team5-menu .pull-left {
	float: left
}

#team5-menu .clearfix {
	overflow: hidden
}

#team5-menu .is-crossed {
	text-decoration: line-through
}

#team5-menu .ng-cloak, #team5-menu .x-ng-cloak .ng-hide, #team5-menu [data-ng-cloak],
	#team5-menu [ng-cloak], #team5-menu [ng\:cloak], #team5-menu [x-ng-cloak] {
	display: none !important
}


body {
	margin: 0
}

body.dont-scroll {
	overflow: hidden;
	background: #ccc
}

.mobile-lang, .wm-language-drop-down-wrapper, .wm-signup-wrappwer {
	display: none
}

body:not (.team5-menu-enabled ) #team5-menu.override-editor-fixes {
	top: 0 !important;
	z-index: 999
}

#team5-menu {
	min-width: 768px;
	display: block;
	border-bottom: 1px solid #eff1f2;
	position: relative;
	background-color: rgba(255, 255, 255, .97);
	transition: all .3s ease-out
}

#team5-menu.initializing * {
	transition: none !important
}

#team5-menu ::-webkit-scrollbar {
	width: 7px
}

#team5-menu ::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0, 0, 0, .4)
}

#team5-menu.transparentMenu:not (.forceWhite ){
	background: 0 0;
	transition: background .3s;
	border-bottom: 0
}

#team5-menu.transparentMenu:not (.forceWhite ) .sub-menu-arrow svg polygon
	{
	fill: #fff
}

#team5-menu .wm-mobile-sidebar {
	display: none
}

#team5-menu.no-language-support #wm-settings-language-dropdown, #team5-menu.no-language-support .wm-language-drop-down-wrapper,
	#team5-menu.no-login .wm-user-state-wrapper {
	display: none !important
}

#team5-menu:after {
	clear: both
}

#team5-menu .unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default
}

#team5-menu.hide-menu-bottom-border {
	box-shadow: none;
	border: none
}

#team5-menu.no-language-support[data-external-page] .wm-links-wrapper {
	position: absolute;
	right: 150px
}

#team5-menu.no-language-support .wm-user-state-wrapper {
	position: absolute;
	right: 0
}

#team5-menu.wm-mobile .wm-dropdown>a:after, #team5-menu[data-external-page] .wm-language-drop-down-wrapper,
	#team5-menu[data-layout=left] .drop-down-language-arrow, #team5-menu[data-layout=left] .wm-container .wm-logo-wrapper
	{
	display: none
}

#team5-menu.no-login .wm-links-wrapper {
	position: absolute;
	right: 66px
}

#team5-menu.no-login .wm-language-drop-down-wrapper {
	position: absolute;
	right: 0
}

#team5-menu.no-login.no-language-support .wm-links-wrapper {
	right: 0
}

#team5-menu[data-external-page] .wm-links-wrapper {
	float: right;
	margin-right: 15px
}

#team5-menu[data-layout=left] .wm-container .wm-user-state-wrapper .wm-logged-in .wm-settings-wrapper
	{
	margin: 0 10px 0 0
}

#team5-menu[data-layout=left]:not (.no-sidebar-state-change-occurred ) .wm-links-wrapper
	{
	transition: margin ease-out .3s
}

#team5-menu[data-layout=left] .wm-links-wrapper {
	margin-left: 61px
}

#team5-menu[data-layout=left].sidebar-is-open .wm-links-wrapper {
	margin-left: 249px
}

#team5-menu[data-layout=left] .wm-container {
	width: inherit;
	max-width: 100%
}

#team5-menu[data-layout=left] .wm-user-state-wrapper .wm-logged-in .wm-user-details-wrapper .wm-user-details
	{
	overflow: inherit
}

#team5-menu .wm-dropdown ul {
	display: block;
	position: absolute
}

#team5-menu .wm-dropdown:hover ul.wm-submenu {
	opacity: 1;
	max-height: 800px
}

#team5-menu .wm-dropdown ul.wm-submenu {
	z-index: 999;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	white-space: nowrap;
	box-shadow: 0 0 3px 0 rgba(32, 48, 60, .06);
	border: 1px solid #eff1f2;
	border-top: none;
	border-radius: 0 0 8px 8px;
	background: rgba(255, 255, 255, .97);
	opacity: 0;
	max-height: 0;
	transition: opacity .35s, max-height 0s;
	overflow: hidden
}

#team5-menu .wm-dropdown ul.wm-submenu li {
	text-align: left;
	border-top: 1px solid #eff1f2
}

#team5-menu .wm-dropdown ul.wm-submenu li:first-child {
	border-top: none
}

#team5-menu .wm-dropdown ul.wm-submenu li a {
	padding: 15px 30px 0;
	height: 48px;
	margin: 0;
	border: none
}

#team5-menu .wm-dropdown ul.wm-submenu li a:hover {
	color: #459fed
}

#team5-menu .wm-dropdown>a .sub-menu-arrow {
	width: 10px;
	height: 7px;
	padding-left: 5px;
	position: relative;
	top: -3px
}

#team5-menu .wm-dropdown>a .sub-menu-arrow svg {
	vertical-align: baseline
}

#team5-menu .wm-dropdown>a .sub-menu-arrow svg polygon {
	fill: #20303c
}

#team5-menu .wm-dropdown:hover :after {
	bottom: -10px;
	transition: all .3s linear
}

body:not (.body-achromatic-sidebar ) #team5-menu[data-layout=left] .wm-links-wrapper
	{
	margin-left: 72px
}

body:not (.body-achromatic-sidebar ) #team5-menu[data-layout=left].sidebar-is-open .wm-links-wrapper
	{
	margin-left: 259px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	right: 0;
	z-index: 9999999999999;
	box-shadow: none;
	min-width: 100%;
	height: 54px !important;
	background: 0 0
}

nav#team5-menu.wm-mobile.wm-mobile-optimized a {
	text-decoration: none
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-language-and-user-wrapper,
	nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-links-wrapper {
	display: none
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 100%;
	height: 54px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container>div {
	height: 54px;
	padding: 0
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .wm-logo-wrapper
	{
	margin: 0 auto;
	float: none;
	width: inherit
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .wm-logo-wrapper #wm-logo
	{
	background: url(../) center
		no-repeat;
	margin: 0 0 0 20px;
	top: 14px;
	position: relative;
	width: 60px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang {
	padding: 0;
	color: #363636;
	position: absolute;
	right: 60px;
	height: 21px;
	overflow: hidden;
	border-radius: 4px;
	transition: height .2s;
	top: 15px;
	width: 18px;
	display: none
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang:before
	{
	content: '';
	width: 20px;
	height: 17px;
	display: inline-block;
	background-position: 0 -20px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang.open ul
	{
	max-height: 400px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang.open .wm-mobile-lang-overlay
	{
	left: 0;
	right: 0;
	display: block;
	opacity: 1;
	z-index: -1
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang ul
	{
	background: #fff;
	width: calc(100 vw-44px);
	padding: 0 22px;
	position: fixed;
	left: 0;
	right: 0;
	top: 46px;
	margin: 0;
	max-height: 0;
	overflow: hidden;
	transition: all .2s
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang ul li
	{
	list-style: none;
	background-color: #fff;
	line-height: 18px;
	padding: 2px;
	float: left;
	width: 32%;
	text-align: left
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang ul li:nth-child(3n+2)
	{
	text-align: center
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang ul li:nth-child(3n)
	{
	text-align: right
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang ul li.selected-lang a
	{
	color: #ffc233
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang ul li a
	{
	text-decoration: none;
	font-size: 15px;
	color: #555;
	border-bottom: 1px solid #d6d6d6;
	display: block;
	padding: 15px 0
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-container .mobile-lang ul li a:active
	{
	-webkit-tap-highlight-color: transparent;
	background: #ffc233;
	color: #fff
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-optimized-menu-handle
	{
	height: 54px;
	width: 59px;
	position: absolute;
	z-index: 0;
	top: 1px;
	right: 0;
	opacity: 1;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-optimized-menu-handle .wm-icon
	{
	background: url(../images/logos/menu.svg?1499248946) center no-repeat;
	width: 20px;
	height: 2px;
	position: relative;
	top: 0
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-optimized-menu-handle .wm-icon:after
	{
	bottom: -6px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-optimized-menu-handle .wm-icon:before
	{
	top: -6px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-optimized-menu-handle .wm-icon:after,
	nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-optimized-menu-handle .wm-icon:before
	{
	background: url(../images/logos/menu.svg?1499248946) no-repeat;
	content: '';
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar {
	font-family: 'Slabo 27px', serif;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	box-shadow: -4px 0 11px -6px #777 inset;
	top: 0;
	bottom: 0;
	display: block;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	transition: all .3s linear;
	overflow: scroll
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-sidebar-content
	{
	width: 67%;
	position: relative;
	background: #fff;
	min-height: 100%;
	box-shadow: 0 0 50px rgba(0, 0, 0, .2)
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-menu-links li a
	{
	text-decoration: none;
	font-size: 15px;
	color: #555;
	border-bottom: 1px solid #d6d6d6;
	display: block;
	padding: 15px 0 15px 20px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-menu-links li a:active,
	nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-social-links li a:active
	{
	-webkit-tap-highlight-color: transparent;
	background: #ffc233;
	color: #fff
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-menu-links li a.selected
	{
	padding-left: 13px;
	border-left: 7px solid #ffc233
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-social-links
	{
	border-bottom: 1px solid #d6d6d6;
	padding-left: 11px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-social-links li
	{
	display: inline-block;
	margin-left: 10px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-social-links li a
	{
	text-indent: -9999px;
	display: inline-block;
	white-space: nowrap
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-social-links li a:after
	{
	content: '';
	display: block;
	margin: 0 10px 12px
}

@media only screen and (orientation:portrait) {
	nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-social-links
		{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		padding-right: 10px
	}
	nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-sidebar .wm-mobile-social-links li
		{
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		margin: 0
	}
}

nav#team5-menu.wm-mobile.wm-mobile-optimized #wm-mobile-close-sidebar {
	position: absolute;
	top: 0;
	right: 0;
	height: 54px;
	width: 60px;
	font-size: 21px;
	color: #555
}

nav#team5-menu.wm-mobile.wm-mobile-optimized #wm-mobile-close-sidebar:before
	{
	position: relative;
	top: 13px;
	left: 20px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-lang-overlay, nav#team5-menu.wm-mobile.wm-mobile-optimized .wm-mobile-page-overlay
	{
	background: rgba(0, 0, 0, .2);
	height: 100%;
	position: fixed;
	width: 100%;
	opacity: 0;
	transition: opacity .1s linear .3s;
	z-index: 1;
	display: none;
	top: 0
}

nav#team5-menu.wm-mobile.wm-mobile-optimized #wm-mobile-get-started {
	height: 54px;
	border-bottom: 1px solid #d6d6d6
}

nav#team5-menu.wm-mobile.wm-mobile-optimized #wm-mobile-get-started a {
	background-image: none;
	position: relative;
	top: 11px;
	left: 21px
}

nav#team5-menu.wm-mobile.wm-mobile-optimized.wm-required-sidebar-scroll .wm-mobile-sidebar
	{
	overflow-y: scroll
}

