/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 7, 2017, 11:39:57 PM
    Author     : ipcal
*/
#categoryList
{
    width: 100px;
    height: 35px;
}

#searchBar
{
    
    border: 1px solid #000000;
    font-size: 16px;
    padding: 10px;
    outline: none;
    width: 250px;
    height: 35px;
}

#searchButton
{
    border: 1px solid #000000;
    font-size: 20px;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    height: 35px;
    
}